### Required Fields

ZONE_ID="" #Your CloudFlare Zone ID, refer to README for more info
RECORD_NAMES="" #Separated by comma if multiple, i.e., "sub1.example.com, sub2.example.com"
EMAIL="" #Your CloudFlare e-mail address
ACCESS_TOKEN="" #Your CloudFlare Access Token, refer to README for more info

### Optional Fields (Leave blank if not desired)

UPDATE_INTERVAL="" #Interval to check if IP has changed in seconds; default is 60 seconds.
PUSHOVER_APP_TOKEN="" #Optional Push notifications via Pushover API whenever a DNS record is successfully updated.
PUSHOVER_USER_KEY="" #User or group key for optional Pushover notifications (who you want to receive the notifications)

